.PersonalWeatherDashBoardbackground{
    background-color: black;
    width: 100%;
    height: 1200px
}

.DashBoardWeatherTemp{
    width: 25%;
    background-color: rgb(82, 82, 82);
    display: flex;
    justify-content: center;
    height: 300px;
    position: absolute;
    left: 5%;
  
    flex-direction: column;
 
}
.AQIDashboard{
    background-color: rgb(99, 100, 102);
    position: absolute;
    width: 30%;
    right: 3%;
    top: 10%;
    display: flex;
    justify-content: center;

}
.DashBoardWeatherName{
    position: absolute;
    background-color: rgb(102, 102, 102);
    z-index: 999;
    left: 5%;
    top: 59%;
    width: 25%;
    height: 30%;
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.PersonalDashBoardDescriptions{
    display: grid;
    grid-template-columns: repeat(2,2fr);

    row-gap: -0px;
    column-gap: 120px;
    position: relative;
    left: -4%;
    top:-20px;
    margin: 0px;

   


}
.DashboardDescriptionDescription{
    z-index: 999;
    position: relative;
    top: 30%;
    left: 40%;
}

.PersonalDashBoardDescriptions h2{
    background-color: rgb(94, 94, 94);
    width: 140%;
    height: 35% ;
  display: flex;
  justify-content: center;
  position: relative;

  font-size: 40px;
  padding-top: 70%;
  margin-top: 0px;
}
