.AirQualityBackGround{
 
    display: flex;
    justify-content: center;
    height: 150vh;
    width: 100%;
    background-size:cover;
    color: white;
    margin-bottom: 0px;
}

.AirqualityMainContent{

    display: flex;


 
    background-color: rgba(0,0,0,0.7);
    height: 65%;
    width: 60%;
    position: relative;
    top: 300px;
    border-radius: 25px;
    padding-bottom: 5%;
 
}



.AirQualityComponent{
    position: absolute;
    top:48%;
    right:80%;
   
    
}

.airqualitycomponents {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
   row-gap: -200px;
   column-gap: 70%;
    position: absolute;
    left: 30%
}


.Airqualityttitle2{
    position: absolute;
    width: 300px;
    left: 35%
}

@media only screen and (max-width: 1600px)  {

    .airqualitycomponents{
        column-gap: 50%;

    }
  


    
}

@media only screen and (max-width: 1350px)  {

   
    .AirqualityMainContent{
        
        width: 70%;

    }
  


    
}

@media only screen and (max-width: 1100px)  {

    .AirqualityMainContent{
        width: 100%;

    }
  


    
}

@media only screen and (max-width: 850px)  {

    .airqualitycomponents{
        column-gap: 27%;

    }
  


    
}



@media only screen and (max-width: 600px)  {

    .airqualitycomponents {
        display: grid;
        grid-template-columns: repeat(2, 3fr);
        column-gap: 65%;
        left: 50%;
        top: -40px
    }

    .AirqualityMainContent{
        padding-bottom: 300px;

    }
    .airqualitydescriptionstitle{
        position: relative;
       
        width: 200px;
        display: flex;
        justify-content: center;
        text-align: center;
        top: -110px;
        left: 50%
       
     

    }

    .AirQualityBackGround{
        height: 1730px

    }
.Airqualityttitle2{
    position: relative;
    right: 300px
}
.AirQualityIndex{
    position: relative;
    right: 300px
}


}